<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.almandres.webone.HelloServlet</servlet-class>
	</servlet>
	<servlet >
		<servlet-name >ImageServlet</servlet-name >
		<servlet-class>com.almandres.webone.ImageServlet</servlet-class>
	</servlet >
	<servlet >
		<servlet-name >ImgServlet</servlet-name>
		<servlet-class>com.almandres.webone.ImgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/images</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name >ImageServlet</servlet-name >
		<url-pattern >/image</url-pattern >
	</servlet-mapping >
</web-app>