server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecom?allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true&useSSL=false
    username: root
    password: secretpassword
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update